<div id="confirm-dialog" class="hidden_not_important">
    <h2>Confirm</h2>

    <button id="confirm-yes" class="btn btn-success">Yes</button>
    <button id="confirm-no" class="btn btn-danger float-end">No</button>
</div>