@model bool
@{
    ViewBag.Title = "Login";
}

<div class="d-flex justify-content-center align-items-center h-100" id="login">
    <div class="col-12 col-xl-4">
        <div class="card">
            <div class="card-header text-white bg-success">
                <h1>Login</h1>
            </div>
            <form method="post" class="card-body">
                <div class="input-group">
                    @Html.Password("Password", null, new { @class = "form-control" + (Model ? " is-invalid"  : null), placeholder = "Password" })
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-success" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
