@using HyperVAdmin.Models
@using Microsoft.Web.Administration

@model List<VirtualMachineModel>

@{
    ViewBag.Title = "Hyper-V Admin";
}

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("~/Views/VMs/Index.cshtml", Model)
    </div>
</div>

<div class="row hidden-xs">
    <div class="col-xs-12">
        @Html.Partial("~/Views/Sites/Index.cshtml", (List<SiteModel>)ViewBag.Sites)
    </div>
</div>