@model SiteModel

@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_iFrame.cshtml";
}

<div class="panel panel-primary" id="applications">
    <div class="panel-heading">
        <h4>Applications</h4>
    </div>

    <div class="panel-body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Binding</th>
                    <th>Path</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Application app in Model.Applications)
                {
                    foreach (KeyValuePair<string, string> keyValue in Model.Bindings)
                    {
                        <tr>
                            <td>
                                <a href="@(keyValue.Value + app.Path)" target="_blank" title="Open website">@keyValue.Key</a>
                            </td>
                            <td>
                                @app.Path
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>