footer.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    border-radius: 0;
    opacity: 0.9;
    z-index: 7500;
}

footer .execution-time {
    line-height: 36px;
}

footer a.copyright,
footer a.copyright:hover,
footer a.copyright:active,
footer a.copyright:focus {
    color: #777;
    line-height: 36px;
}

footer .btn,
footer .btn:active, 
footer .btn:hover {
    background-image: none;
    background-color: transparent;
    color: #FFF;
    border: 1px solid #333;
}


footer .btn:active, footer .btn:hover {
    background-image: linear-gradient(to bottom, #5cb85c 0px, #419641 100%);
    background-position: 0;
}