html {
    min-height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 55px;
    background-image: $gradiantDark;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
}

div.alert {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 7501;
    margin-bottom: 0;
    display: none;
}
