html,
body,
.container,
.row > div {
    height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 55px;
    background-image: $gradiantDark;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: "Roboto", Arial, sans-serif !important;
}

nav small {
    padding: 18px 0 0 0;
    float: left;
}

div.alert {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 7501;
    margin-bottom: 0;
    display: none;
}

.row {
    height: 50%;
}

.row.full-height {
    height: 100%;
}

@media (max-width: 768px) {
    .row {
        height: 100%;
    }
}

body#maincontent .panel {
    height: calc(100% - 15px);
}

body#maincontent .panel-body {
    overflow-y: auto;
    height: calc(100% - 60px);
}

th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    min-width: 85px;
}

th:first-child {
    cursor: default;
}

th img {
    cursor: pointer;
    float: right;
    margin: 2px 0 0 0;
}

#last-state-change {
    min-width: 155px;
}

div#confirm-dialog {
    overflow: hidden;
}

div#confirm-dialog h2 {
    white-space: nowrap;
    margin: 10px 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

div#confirm-dialog button {
    width: 100px;
}

div#confirm-dialog button#confirm-yes {
    margin-right: 15px;
}