body#iframe {
    padding: 0;
    background: initial;
    min-height: auto;

    .table {
        margin-bottom: 0;
    }
}

.fancybox-slide--iframe .fancybox-content {
    width: 90%;
    max-width: 500px;
}