footer,
nav.navbar {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    background-image: $gradiantDark;
    background-repeat: repeat-x;
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
    #navbar {
        position: relative;
    }

    #navbar .divider {
        display: none;
    }

    #navbar .btn-group {
        position: absolute;
        top: 0;
        right: 15px;
    }
}
