footer,
nav.navbar {
    background-image: $gradiantDark;
    background-color: transparent;
    background-repeat: repeat-x;
    backdrop-filter: blur(5px);
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
    #navbar {
        position: relative;
    }

    #navbar .divider {
        display: none;
    }

    #navbar .btn-group {
        position: absolute;
        top: 0;
        right: 15px;
    }
}
