@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('#{$fontPath}/roboto-light.eot');
    src: url('#{$fontPath}/roboto-light.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}/roboto-light.woff2') format('woff2'), url('#{$fontPath}/roboto-light.woff') format('woff'), url('#{$fontPath}/roboto-light.ttf') format('truetype'), url('#{$fontPath}/roboto-light.svg#fontawesome') format('svg');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
