.offcanvas {
    position: absolute;
    left: -2000px;
}

button.copy-path {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left !important;
}