$contentPath: "/Content";
$imagePath: "#{$contentPath}/Images";
$fontPath: "#{$contentPath}/Fonts";

$bootstrapFont: "#{$fontPath}/glyphicons-halflings-regular";

$fontFamily: "Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;