$contentPath: "../";
$fontPath: "#{$contentPath}Fonts";
$bootstrapFont: "#{$fontPath}/glyphicons-halflings-regular";

$fontFamily: "Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
$gradiantDark: linear-gradient(to bottom, rgba(60, 60, 60, 0.9) 0%, rgba(34, 34, 34, 0.9) 100%);
$fa-font-path: "../Fonts";