$contentPath: "../";
$fontPath: "#{$contentPath}Fonts";
$bootstrapFont: "#{$fontPath}/glyphicons-halflings-regular";

$fontFamily: "Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
$gradiantDark: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
$fa-font-path: "../Fonts";